<div class="signup">
  <div class="container">
    <%= form_for :user, url: '/users' do |f| %>
    <%= f.text_field :fname, :placeholder => "First Name" %>
      <%= f.text_field :lname, :placeholder => "Last Name" %>
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Signup", :class => "form-btn" %>
    <% end %>
  </div>
</div>
