<!DOCTYPE html>
<html>
  <head>
    <title>AlbumApp</title>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <%= link_to root_path do %>
          <img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80">
          &#12501; &#65387; &#12488; &#12501; &#65387; &#12488;
        <% end %>
        <div class="nav pull-right">
          <% if current_user %>
          <!-- 若用户已登录，显示用户电邮地址及登出链接 -->
            <ul>
              <li><%= current_user.email %></li>
              <li><%= link_to "Logout", logout_path, method:"delete" %></li>
            </ul>
          <% else %>
          <!-- 若用户尚未登陆，显示登陆链接和注册链接 -->
            <ul>
              <li><%= link_to "Login", 'login' %></li>
              <li><%= link_to "Signup", 'signup' %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
